ast
bert-score
bs4
chromadb
dotenv
langchain
langchainhub
langgraph
langchain-community
langchain-openai
langchain-text-splitters
langfuse
nltk
pandas
pypdf
rouge
rouge_score
scikit-learn
scipy
tiktoken
transformers
wordcloud